In [ ]:
Array can store numbers, text or complex objects.

stock_prices = [2,3,5,6] # numbers
stock_names = ['AAPL', 'IBM', 'TATA'] #text
stock_data = [
    {'ticker':'AAPL', 'price': 302}, # complex onj
    {'ticker':'TSLA', 'price': 902},
    {'ticker':'TATA', 'price': 278},
]

In [1]:
# 2 Dimensional Array

stock_prices = [
    [2,3,5,6],
    [40,42,38,44],
    [78,89,71,66]
]

stock_prices[1][2]

38

### Exercise: Array DataStructure

Let us say your expense for every month are listed below,
##### January - 2200
##### February - 2350
##### March - 2600
##### April - 2130
##### May - 2190
##### Create a list to store these monthly expenses and using that find out,

In [6]:
#1 In Feb, how many dollars you spent extra compare to January?

# Monthly expenses list
monthly_expenses = [2200, 2350, 2600, 2130, 2190]

# Calculate the extra expense in February compared to January
extra_expense_in_feb = monthly_expenses[1] - monthly_expenses[0]

# Print the result
print("Extra expense in February compared to January:", extra_expense_in_feb, "dollars")

Extra expense in February compared to January: 150 dollars

In [11]:
#2. Find out your total expense in first quarter (first three months) of the year

# Monthly expenses list
monthly_expenses = [2200, 2350, 2600, 2130, 2190]


total_expense = monthly_expenses[0] + monthly_expenses[1] + monthly_expenses[2]

# Print the result
print("Total expense in first quarter:", total_expense, "dollars")

Total expense in first quarter: 7150 dollars

In [9]:
#2. Find out your total expense in first quarter (first three months) of the year
# Monthly expenses list
monthly_expenses = [2200, 2350, 2600, 2130, 2190]

# Calculate the total expense in the first quarter (first three months)
first_quarter_expense = sum(monthly_expenses[:3])

# Print the result
print("Total expense in the first quarter:", first_quarter_expense, "dollars")

Total expense in the first quarter: 7150 dollars

In [2]:
#3. Find out if you spent exactly 2000 dollars in any month

# Monthly expenses list
monthly_expenses = [2200, 2350, 2600, 2130, 2190]

# Check if any month's expense is exactly 2000 dollars
for index, expense in enumerate(monthly_expenses):
    if expense == 2000:
        print(f"You spent exactly 2000 dollars in month {index + 1}.")
        break
else:
    print("You did not spend exactly 2000 dollars in any month.")

You did not spend exactly 2000 dollars in any month.

In [3]:
# 3. Find out if you spent exactly 2000 dollars iin any month

# Monthly expenses list
monthly_expenses = [2200, 2350, 2600, 2130, 2190]

print("Did I spend $2000 in any month? ", 2000 in monthly_expenses)

EDid I spend $2000 in any month?  False

In [13]:
#4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

# Monthly expenses list
monthly_expenses = [2200, 2350, 2600, 2130, 2190]

# Expense for June
june_expense = 1980

# Add the June expense to the list
monthly_expenses.append(june_expense)

# Print the updated list
print("Updated monthly expenses list with June:", monthly_expenses)

Updated monthly expenses list with June: [2200, 2350, 2600, 2130, 2190, 1980]

In [14]:
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

# Monthly expenses list
monthly_expenses = [2200, 2350, 2600, 2130, 2190]

# Refund amount for April
refund_april = 200

# Subtract the refund amount from the April expense
monthly_expenses[3] -= refund_april

# Print the updated list
print("Updated monthly expenses list with April refund:", monthly_expenses)

Updated monthly expenses list with April refund: [2200, 2350, 2600, 1930, 2190]

2. You have a list of your favourite marvel super heros.

heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [3]:
heros=['spider man','thor','hulk','iron man','captain america']
# 1. Length of the list
print(len(heros))

5

In [4]:
# 2. Add 'black panther' at the end of this list
heros.append('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [5]:
# 3. You realize that you need to add 'black panther' after 'hulk',
# so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros.insert(3, 'black_panther')
print(heros)

['spider man', 'thor', 'hulk', 'black_panther', 'iron man', 'captain america']

In [6]:
# 4. Now you don't like thor and hulk because they get angry easily :) 
# So you want to remove thor and hulk from list and replace them with 
# doctor strange (because he is cool). Do that with one line of code.
heros[1:3] = ['doctor_strange']
print(heros)

['spider man', 'doctor_strange', 'black_panther', 'iron man', 'captain america']

In [7]:
# 5. Sort the heros list in alphabetical order (Hint. Use dir() 
# functions to list down all functions available in list)
heros.sort()
print(heros)

['black_panther', 'captain america', 'doctor_strange', 'iron man', 'spider man']

3. Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [8]:
# Get the maximum number from the user
max_number = int(input("Enter the maximum number: "))

# Initialize an empty list to store odd numbers
odd_numbers = []

# Iterate through numbers from 1 to the maximum number
for number in range(1, max_number + 1):
    # Check if the number is odd (remainder when divided by 2 is not 0)
    if number % 2 != 0:
        odd_numbers.append(number)

# Print the list of odd numbers
print("List of odd numbers between 1 and", max_number, ":", odd_numbers)

Enter the maximum number: 18
List of odd numbers between 1 and 18 : [1, 3, 5, 7, 9, 11, 13, 15, 17]

In [9]:
max = int(input("Enter max number: "))

odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ", odd_numbers)

Enter max number: 12
Odd numbers:  [1, 3, 5, 7, 9, 11]

In [ ]:
dir('heros') # list down all functions available in list